<div class="main-content">
  <div class="container">
    <h1><%= @task.title %></h1>
    <h2><%= @task.details %></h2>
  </div>
  <div class="edit">
    <%= link_to '<button type="button" class="btn btn-light">Edit Task</button>'.html_safe, edit_task_path %>
  </div>
  <%= link_to '<button type="button" class="btn btn-light">Go back to Tasks</button>'.html_safe, root_path %>
</div>
